html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: hidden;
  font-family: "PublicSans-Regular", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  overflow: hidden;
}

#root {
  height: 100dvh;
}

.hidden {
  display: none;
}
