@font-face {
  font-family: "PublicSans-Light";
  src: local("PublicSans-Light"), local("PublicSans-Light"),
    url("../assets/font/PublicSans-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PublicSans-Medium";
  src: local("PublicSans-Medium"), local("PublicSans-Medium"),
    url("../assets/font/PublicSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PublicSans-Regular";
  src: local("PublicSans-Regular"), local("PublicSans-Regular"),
    url("../assets/font/PublicSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PublicSans-SemiBold";
  src: local("PublicSans-SemiBold"), local("PublicSans-SemiBold"),
    url("../assets/font/PublicSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PublicSans-ExtraBold";
  src: local("PublicSans-ExtraBold"), local("PublicSans-ExtraBold"),
    url("../assets/font/PublicSans-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
