$primary: #883dcf;
$primary-light: #f4ecfb;
$secondary: #4a4c56;
$default: #667085;

$cyan: #2bb2fe;
$orange: #f86624;
$white: #fff;
$black: #1d1f2c;
$success: #1a9882;
$success-light: #e9faf7;
$warning: #f86624;
$warning-light: #fff0ea;
$error: #eb3d4d;
$error-light: #feecee;
$grey: #e0e2e7;
$grey-light: #f0f1f3;
